body {
    transition: 0.5s;
}

:root {
    --background : black;
    --foreground : #090909;
    --black : black;
    --grey : #1F1F1F;
    --grey2 : #454545;
    --grey3 : #999999;
    --white : white;
}

.bg-dm {
    background-color: var(--background);
}

.fg-dm {
    background-color: var(--foreground);
}

.txt-dm {
    color: var(--white);
}

.border-dm {
    border : 1px solid var(--grey);
}

.btn-dm {
    background-color: var(--grey2);
    color: var(--white);
}

.btn-dm:hover {
    background-color: var(--grey3);
    color: var(--black);
}

.link-dm {
    color: var(--grey3);
}